@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;

}
:root {
    --bg-color: #1F1F29;
    --main-color: #5983FC;
    --sec-color: #3E60C1;
    --ter-color: #2E4583; /* or 293556 */
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
h4 {
    font-weight: 500;
}
p {
    font-weight: 400;
    margin-top: 5px;
    text-wrap: wrap;
}

body {
    /* background-color: var(--ter-color); */
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100dvh;
    width: 100%;
    background: antiquewhite;
    padding: 0 30px;
}

.logo {
    float: left;
}
.empInfo {
    display: flex;
    justify-content: space-between;
}
table {
    font-weight: 400;
}
.content {
    width: 100%;
    padding: 10px 0;
}
.assets-table {
    width: 100%;
}
th {
    background-color: rgb(255, 255, 54);
    color: black;
}
th, td {
    padding: 5px 10px;
    border: 1px solid black;
}
.link-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 40px;
    height: 50px;
    width: 100%;
}
.link-btn {
    background-color: var(--main-color);
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 15px;
    transition: all .3s;
    color: black;
}
.link-btn:hover {
    color: var(--main-color);
    border: 1px solid white;
    background-color: var(--bg-color);
    transition: all .3s;
}


.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
button {
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .asset-details .input-box {
        margin-bottom: 10px;
        width: 100%;
    }
    .add-form form .asset-details {
        max-height: 300px;
        overflow-y: scroll;
    }
}