@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}
:root {
    --bg-color: #1F1F29;
    --main-color: #5983FC;
    --sec-color: #3E60C1;
    --ter-color: #2E4583; /* or 293556 */
}

h1, h2, p, a, label {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

a {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--ter-color);
    color: rgb(255, 246, 246);
    font-family: "Rubik", sans-serif;
    min-height: 100dvh;
    overflow: hidden;
}

header {
    position: relative;
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropbtn {
    /* background-color: var(--sec-color); */
    background: linear-gradient(95deg, var(--ter-color), antiquewhite);
    color: black;
    padding: 8px 30px;
    width: 150px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ccc;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn { color: white;border: 1px solid white; background: linear-gradient(-95deg, var(--ter-color), var(--bg-color));}

.content {
    min-height: 100dvh;
    background: linear-gradient(-95deg, var(--ter-color), var(--bg-color));
    padding: 10px 40px;
}
.title h1 {
    font-size: 40px;
    text-align: justify;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}
.uname {
    color: rgb(212, 212, 212);
    font-size: 50px;
}
.config-buttons {
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 150px;
}
.config-btn img {
    height: 200px;
    width: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transform: scale(0.9);
    transition: ease-in-out .3s;
}
.config-btn img:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    transform: scale(1);
}


@media (max-width: 584px) {
    .content {
        max-width: 100%;
    }
    form .asset-details .input-box {
        margin-bottom: 10px;
        width: 100%;
    }
    .add-form form .asset-details {
        max-height: 300px;
        overflow-y: scroll;
    }
}