
/* Login Form CSS */
.login-form {
    position: absolute;
    width: 800px;
    height: 450px;
    background-color: var(--bg-color);
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    align-items: center;
} 
.logo {

}   
.login-field {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.register-form {
    position: absolute;
    width: 600px;
    height: 550px;
    background-color: var(--bg-color);
    border-radius: 10px;

    display: flex;
    justify-content: center;
}
.register-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    margin: 5px;
}