
/* Login Form CSS */
:root {
    --bg-color: #1F1F29;
    --main-color: #5983FC;
    --sec-color: #3E60C1;
    --ter-color: #2E4583; /* or 293556 */
}
main {
    height: 100dvh;
}

.register-form {
    width: 500px;
    height: 90dvh;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.register-field {
    padding: 5px;
}
.return {
    position: relative;
    transition: all .3s;
    top: -20px;
}
.return:hover {
    color: var(--main-color);
    transition: all .3s;
}
.login {
    position: absolute;
    background-color: var(--main-color);
    color: white;
    padding: 5px 25px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    transition: all .3s;
}
.login:hover {
    border: 1px solid white;
    color: var(--main-color);
    background-color: var(--bg-color);
    transition: all .3s;
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
    padding: 5px;
    margin: 5px;
}