:root {
    --bg-color: #1F1F29;
    --main-color: #5983FC;
    --sec-color: #3E60C1;
    --ter-color: #2E4583; /* or 293556 */
}

label {
    font-family: DejaVu Sans Mono, monospace;
}

h1, h2, p {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #141414;

    min-height: 100dvh;
    width: 100%;
    color: rgb(255, 246, 246);
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    scroll-behavior: smooth;
}



/* Login Form CSS */
.login-form {
    position: absolute;
    width: 800px;
    height: 450px;
    background-color: var(--bg-color);
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    align-items: center;
} 
.logo {

}
.login-field {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.register-form {
    position: absolute;
    width: 600px;
    height: 550px;
    background-color: var(--bg-color);
    border-radius: 10px;

    display: flex;
    justify-content: center;
}
.register-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    margin: 5px;
}